@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

:root{
    --primary: #124559;
    --primary-light: #598392;
    --primary-dark: #01161e;
    --secondary: #eff6e0;
    --secondary-dark: #aec3b0;
    --accent: #c1cfc0;
    
    --white: #FFFFFF; 
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 500px;
    justify-content: center;
    margin: 0;
    background-color: var(--primary-light)
    
}

/*header styles*/
header {
    padding: 0px 24px 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-light);
    color: var(--primary);
}

h1 {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2em; 
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

/*toggle*/

#agendaToggle {
    color: var(--secondary);
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: var(--secondary-dark);
    margin: 16px 24px 16px 24px;
    border-radius: 8px;
}

#agendaToggle * {
    margin: 0px;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

/*expedition crew*/
.expedition {
    margin: 0px 24px 0px 24px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 8px;
}

.person{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin: 0px 24px 0px 24px;
    height: 40px;
} 

td + td, th + th {
    text-align: right;
}

table {
    text-indent: none;
    display: flex;
    justify-content: center;
}

td, th{
    min-width: 100px;
}